<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OrderConnectinoStringDocker1" connectionString="Server=localhost 14;Database=Orders;User ID=sa;Password=Pass.Word;TrustServerCertificate=true;" providerName="Microsoft.Data.SqlClient" />
		<add name="OrdersConnectionString" connectionString="Server=localhost;Database=Orders;TrustServerCertificate=true;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient" />
		<add name="OrdersConnectionString3" connectionString="Server=localhost\MSSQLSERVER01;Database=Orders;Integrated Security=True;TrustServerCertificate=true;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>