<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Niet vergeten Name / Database na te kijken!!!-->
		<add name="PublishersConnectionStringDocker" connectionString="Server=localhost, 1433;Database=publishers;User ID=sa;Password=Pass.Word;TrustServerCertificate=true;" providerName="Microsoft.Data.SqlClient" />
		<add name="PublishersConnectionString" connectionString="Server=localhost;Database=publishers;TrustServerCertificate=true;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>