<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PublishersConnectinoStringDocker1" connectionString="Server=localhost;Database=Orders;User ID=sa;Password=Pass.Word;TrustServerCertificate=true;" providerName="Microsoft.Data.SqlClient" />
		<add name="PublisersConnectionString" connectionString="Server=localhost;Database=Orders;TrustServerCertificate=true;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>