<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
		<connectionStrings>
			<add name="PublishersConnectionStringDocker1" connectionString="Server=localhost;Database=Publishers;User ID=sa;Password=Pass.Word;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
			<add name="PublishersConnectionString" connectionString="Server=localhost;Database=Publishers;TrustServerCertificate=true;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient" />
			
		</connectionStrings>

</configuration>